{% extends "layouts/admin.twig" %}
{% block content %}
<div class="module">
    <div class="module__body">
        <div class="row">
            {% if speaker.photo_path is not empty %}
                <br />
            <div class="col-md-4">
                <img src="{{ photo_path }}{{ speaker.photo_path }}" alt="profile photo">
            </div>
            {% endif %}
            <div class="col-md-8">
                <blockquote>
                    <h2>{{ speaker.first_name }} {{ speaker.last_name }}</h2>
                </blockquote>
                <p>
                  <i class="fa fa-envelope"></i> <a href="mailto:{{ speaker.email }}">{{ speaker.email }}</a><br>
                  {% if speaker.twitter is not empty %}<i class="fa fa-twitter-square"></i> <a href="http://twitter.com/{{ speaker.twitter }}" target="_blank" rel="external">{{ speaker.twitter }}</a><br />{% endif %}
                  {% if speaker.dotorgusername is not empty %}<i class="fa fa-wordpress"></i> <a href="http://profiles.wordpress.org/{{ speaker.dotorgusername }}" target="_blank" rel="external">{{ speaker.dotorgusername }}</a><br />{% endif %}
                  {% if speaker.slack is not empty %}<i class="fa fa-slack"></i>{{ speaker.slack }}<br />{% endif %}
                </p>
                <h3>Speaker Bio</h3>
                <p>{{ speaker.bio|striptags|markdown }}</p>

                {% if talks | length > 0 %}
                    <h3>Talk Submissions</h3>

                    {% for talk in talks %}
                        <a href="{{ url('admin_talk_view', { id: talk.id }) }}">{{ talk.title }}</a><br />
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
